/* Сброс стандартных значений для отступов, границ и дополнительных значений */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Задний фон и шрифт по умолчанию */
body {
  background-color: #fff;
  font-family: Arial, sans-serif;
}

/* Общие стили для заголовков */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стиль для ссылок */
a {
  color: #007bff;
  text-decoration: none;
}

.Pages {
  margin-top: 10px;
}

/*for pages*/
.container {
  display: flex;
  flex-direction: column;
  padding: 0 28px;
}
